-e git+ssh://git@github.com/kwan3217/picturebox.git#egg=picturebox
-e git+ssh://git@github.com/kwan3217/kwanmath.git#egg=kwanmath
-e git+ssh://git@github.com/kwan3217/atmosphere.git#egg=atmosphere
manim
pytest

